################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bikerental/.vs/Bikerental/v15
/Bikerental/Bikerental/bin/Debug/netcoreapp2.0
/Bikerental/Bikerental/obj
/Bikerental/BikeRentalLogic/obj
/Bikerental/BikerentalTests/bin/Debug/netcoreapp2.0
/Bikerental/BikerentalTests/obj
/Bikerental/Bikerental/bin/Release/netcoreapp2.0
